{% extends 'header.html' %}
{% load static %}
{%  block content %}
<!DOCTYPE html>
<html lang="en">

    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-3 bread">Our Blog</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 text-center d-flex ftco-animate">
          	<div class="blog-entry justify-content-end mb-md-5">
              <a href="{% url 'blogsingle' %}" class="block-20 img" style="background-image: url({% static 'images/image_1.jpg' %});">
              </a>
              <div class="text px-md-5 pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">Oct. 29, 2019</a></div>
                  <div><a href="#">Visit to Manali</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Joyride provided us an beautiful seven seaters. It was an amazing trip by road.</p>
                <p><a href="{% url 'blogsingle' %}" class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center d-flex ftco-animate">
          	<div class="blog-entry justify-content-end mb-md-5">
              <a href="{% url 'blogsingle' %}" class="block-20 img" style="background-image: url({% static 'images/car-22.webp' %});">
              </a>
              <div class="text px-md-5 pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">Oct. 29, 2019</a></div>
                  <div><a href="#">How to Get a Rental Car Without a Credit Card?</a></div>
                  <div><a href="#" class="meta-chat">
                    <span class="icon-chat"></span> 3</a></div>
                    <p>1. Use a Debit Card
                      Many rental car companies accept debit cards. However, they might have some extra requirements:
                      
                      Provide Extra Documentation: Be ready to show your driver’s license, proof of insurance, and sometimes even a utility bill or a return flight ticket.
                      Hold on Funds: They might put a hold on your account, which could be higher than the rental cost. This is to cover any potential damages or additional fees.
                      2. Prepaid Cards
                      Some companies accept prepaid cards, but it’s less common. Always check with the rental company first. If they do accept prepaid cards, make sure:
                      
                      Sufficient Balance: Ensure you have enough balance on the card to cover the rental and any potential holds.
                      Contact the Company: Call ahead and confirm their policies regarding prepaid cards.
                      3. Cash Rentals
                      Although rare, a few rental companies allow cash rentals. This method often comes with stricter requirements:
                      
                      Higher Deposit: Be prepared to leave a substantial cash deposit.
                      Extra Documentation: You might need to provide more documents than usual, such as proof of employment or a recent bank statement.
                      4. Rent from Smaller, Local Companies
                      Sometimes, local or smaller rental car companies are more flexible with their payment methods. These companies might be more willing to accept debit cards, prepaid cards, or even cash.
                      
                      5. Join a Car Rental Membership Program
                      Joining a car rental membership program can sometimes make it easier to rent a car without a credit card. These programs often have perks, such as reduced deposits and easier payment options.
                    </p>
                    </div>
                <h3 class="heading mt-2"><a href="#"></p>
                <p><a href="{% url 'blogsingle' %}" class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center d-flex ftco-animate">
          	<div class="blog-entry">
              <a href="{% url 'blogsingle' %}" class="block-20 img" style="background-image: url({% static 'images/image_3.jpg' %});">
              </a>
              <div class="text px-md-5 pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">Oct. 29, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p><a href="{% url 'blogsingle' %}" class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center d-flex ftco-animate">
          	<div class="blog-entry justify-content-end mb-md-5">
              <a href="{% url 'blogsingle' %}" class="block-20 img" style="background-image: url({% static 'images/image_4.jpg' %});">
              </a>
              <div class="text px-md-5 pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">Oct. 29, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p><a href="{% url 'blogsingle' %}" class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center d-flex ftco-animate">
          	<div class="blog-entry justify-content-end mb-md-5">
              <a href="{% url 'blogsingle' %}" class="block-20 img" style="background-image: url({% static 'images/image_5.jpg' %});">
              </a>
              <div class="text px-md-5 pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">Oct. 29, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p><a href="{% url 'blogsingle' %}" class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 text-center d-flex ftco-animate">
          	<div class="blog-entry">
              <a href="{% url 'blogsingle' %}" class="block-20 img" style="background-image: url({% static 'images/image_6.jpg' %});">
              </a>
              <div class="text px-md-5 pt-4">
              	<div class="meta mb-3">
                  <div><a href="#">Oct. 29, 2019</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <p><a href="{% url 'blogsingle' %}" class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}